* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;

}

.title-header {
    display: inline;
    font-size: 40px;
    font-weight: bold;
    vertical-align: top;
    font-family: arial;
}